<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form method="post">
        <label for="name">投稿者名：</label>
        <input type="text" /><br />
        <label for="content">投稿内容：</label>
        <textarea></textarea><br />
        <button>記事投稿</button>
      </form>
    </div>
    <hr />
    <div>
      <div th:each="article : ${articles}">
        <p>
          投稿者名：
          <span th:text="${article.name}"></span>
        </p>
        <p>投稿内容：</p>
        <p th:text="${article.content}"></p>
        <div>
          <div>
            <form th:action="@{/show/insert-article}" method="post">
              <p>投稿者名：</p>
              <input name="name"><br>
              <p>投稿内容：</p>
              <input name="content"><br>
              <button>コメント投稿</button>
            </form>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </body>
</html>
